{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center pt-5 pb-5">Everything to get your business to grow.</h1>
            </div>
        </div>
        <div class="row p-3"> <!-- Services provided. -->
            <div class="col-3">
                <h3>Social Media Marketing</h3>
                <p>Social media marketing is an essential digital marketing strategy that uses social media to promote
                    your business online. Our team will assist you in developing your social media presence.</p>
            </div>
            <div class="col-3">
                <h3>Data Analysis</h3>
                <p>Our team uses Google Analytics to track and report website usage so you may make informed business
                    decisions.</p>
            </div>
            <div class="col-3">
                <h3>Custom Business Applications</h3>
                <p>Sometimes the out-of-the-box applications will not fit your needs, here at Blue Tree Concepts we can
                    develop a tailored made application with your specifications.</p>
            </div>
            <div class="col-3">
                <h3>Business Intelligence</h3>
                <p>Collecting and storing data is essential to your business. Business Intelligence helps you visualize
                    and analyze your data to help you to optimize your business decisions..</p>
            </div>
        </div>
        <div class="row p-3"> <!-- Services provided. -->
            <div class="col-3">
                <h3>SEO Strategy</h3>
                <p>Because organic search is the most prominent way for people to discover and access online content, a
                    good SEO strategy is essential for improving the quality and quantity of traffic to your
                    website.</p>
            </div>
            <div class="col-3">
                <h3>Business Analysis</h3>
                <p>OHere at Blue Tree Concepts we have Business Analyst on staff to assist with solving problems,
                    setting new objectives or goals and achieving desired results with objectives or goals.</p>
            </div>
            <div class="col-3">
                <h3>Web Design</h3>
                <p>Our design team works with you to develop a mobile-friendly professional-looking website. It
                    encompasses several aspects, including webpage layout, content production, and graphic
                    design.</p>
            </div>
            <div class="col-3">
                <h3>Web Development</h3>
                <p>Our team will build, create and maintain your mobile-friendly website. It includes aspects such as
                    web design, web publishing, web programming, and database management.</p>
            </div>
        </div>
        <div class="mb-5" id="call_to_action">
            <div class="row mb-4">
                <div class="col-12 d-flex justify-content-center pt-4">
                    <h2 class="text-dark">Let's get to know each other</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12  d-flex justify-content-center">
                    <a class="btn btn-outline-dark btn-lg mb-5" href="{% url 'contact' %}">Contact</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}